.city{
    background-color:rgba(1, 30, 89, 0.354);
    border:none;
   
    color:antiquewhite;
}
::placeholder { color: rgb(195, 194, 194); }
.btn {
border:none;
background-color: rgba(1, 30, 89, 0.354);
color:antiquewhite;
border-radius: 0.2rem;
width:3.12rem;
cursor: pointer;

}
